
html {
  font-family: Consolas, Microsoft YaHei;
}

body {
  font-family: Consolas, Microsoft YaHei; /* default font */
}

p code {
  color: rgb(209, 0, 0);
  font-family: Consolas;
}

.highlight pre, .highlight code {
  font-family: Consolas;
}
